# CAUTION The `max_line_length` setting is not supported in all editors.

# All
[*]
    # Recommendations
        charset = utf-8
        end_of_line = lf
        insert_final_newline = true
        indent_style = space

# Data
[/data/**]
    # Requirements
        root = true
        charset = unset
        indent_size = unset
        indent_style = unset
        end_of_line = unset
        insert_final_newline = unset
        max_line_length = unset
        trim_trailing_whitespace = unset

# INI
[*.{ini,cfg,env,editorconfig,flake8,pydocstyle}]
    # Recommendations
        indent_style = space
        max_line_length = unset

# JSON
[*.{json,jsonc}]
    # Recommendations
        indent_size = 2
        max_line_length = unset

# Markdown
[*.{md,markdown}]
    # Requirements
        indent_style = space
    # Recommendations
        indent_size = 2
        insert_final_newline = true
        trim_trailing_whitespace = false  # Trailing whitespace can be significant in Markdown, e.g. https://github.github.com/gfm/#hard-line-breaks

# Python
[*.{py,pyx}]
    # Requirements
        charset = utf-8
        end_of_line = lf
        insert_final_newline = true
        indent_style = space
        insert_final_newline = true
        tab_width = 4
        trim_trailing_whitespace = true
    # Recommendations
        indent_size = 4
        max_line_length = 88  # 88 is the default value of `max_line_length` in the Black formatter.

# TOML
[*.{tml,toml}]
    # Requirements
        charset = utf-8
    # Recommendations
        max_line_length = unset

# YAML
[*.{yml,yaml}]
    # Requirements
        charset = utf-8
        indent_style = space
        indent_size = 2
    # Recommendations
        insert_final_newline = true
        max_line_length = unset
        trim_trailing_whitespace = false  # Don't trim trailing whitespace so as to not conflict with embedded content, e.g. Markdown.
